.container {
  background-color: rgb(63, 62, 62);
}

.summary {
  color: whitesmoke;
  font-family: "Cardo", serif;
}
.heading {
  color: rgba(93, 193, 194, 0.913);
  font-family: "Oswald", sans-serif;
}
@media only screen and (min-width: 845px) {
  .container {
    display: flex;
  }
  .summary {
    margin-top: 0;
    padding-bottom: 1em;
    padding-right: 4.1em;
    text-align: left;
    font-size: 1.2rem;
  }

  .avatar {
    width: 40%;
    margin: 40px;
  }
  .writingWrap {
    width: 60%;
    margin: 40px;
  }
  .heading {
    margin-top: 10%;
    margin-bottom: 0;
    padding-right: 1em;
    padding-bottom: 0.1em;
    font-size: 6rem;
    text-align: left;
  }
}
@media only screen and (max-width: 845px) {
  .container,
  .summary,
  .heading {
    text-align: center;
  }
  .writingWrap {
    padding: 0 40px;
  }
  .avatar {
    max-width: 500px;
    margin: 0.4em;
  }
  .heading {
    font-size: 4rem;
  }
  .container {
    padding-bottom: 10em;
  }

  .summary {
    font-size: 1rem;
    padding-bottom: 0.5em;
  }
}
