.container {
  width: 100%;
  display: grid;
  min-height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1em;
  margin: auto;
  padding-bottom: 10em;
  padding-top: 10em;
  background-color: rgb(63, 62, 62);
}
.summary {
  color: whitesmoke;
  margin-top: 0;
  padding-bottom: 1em;
  padding-right: 4.1em;
  text-align: left;
  font-family: "Cardo", serif;
  font-size: 1.5rem;
}

.avatar {
  text-align: right;
  margin: 0.4em;
}
.writingWrap {
  padding-left: 2em;
}

.heading {
  margin-top: 10%;
  margin-bottom: 0;
  padding-right: 1em;
  padding-bottom: 0.1em;
  color: rgba(85, 181, 182, 0.913);
  font-size: 6rem;
  font-family: "Oswald", sans-serif;
  text-align: left;
}

@media only screen and (max-width: 845px) {
  .container,
  .summary,
  .heading {
    display: block;
    text-align: center;
    margin: unset;
    padding: unset;
  }
  .writingWrap {
    padding-left: unset;
  }
  .heading {
    font-size: 4rem;
  }
  .container {
    padding-bottom: 10em;
  }

  .summary {
    font-size: 1.4rem;
    padding-bottom: 0.5em;
  }
}
