.container {
  display: flex;
  font-family: "Roboto", sans-serif;
  color: rgba(22, 40, 79, 1);
}

@media only screen and (min-width: 845px) {
  .writingWrap {
    margin-left: 120px;
    margin-right: 120px;
  }
  .greeting {
    top: 2462px;
    height: 31px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
  }

  .heading {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 54px;
    font-weight: bold;
    font-style: normal;
    line-height: 66px;
    letter-spacing: 0.02em;
  }
  .summary {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.05em;
    padding-bottom: 50px;
  }
  .socialMedia {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.03em;
  }
}
@media only screen and (max-width: 845px) {
  .container,
  .summary,
  .heading {
    text-align: center;
  }
  .writingWrap {
    padding: 0 40px;
  }
  .avatar {
    max-width: 500px;
    margin: 0.4em;
  }
  .heading {
    font-size: 4rem;
  }
  .container {
    padding-bottom: 10em;
  }

  .summary {
    font-size: 1rem;
    padding-bottom: 0.5em;
  }
}
