.container {
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 1);
}
.heading {
}

.accordion {
}
.accordion:hover {
  color: rgba(22, 40, 79, 1);
  text-decoration: none;
}
@media only screen and (min-width: 845px) {
  .container {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 50px;
  }
  .heading {
    font-size: 40px;
    text-align: left;
  }
  .accordion {
    font-size: 20px;
    padding-bottom: 30px;
  }
}
/* @media only screen and (max-width: 845px) {
  .container {
    display: block;
    text-align: center;
    margin: unset;
  }
  .heading {
    padding: unset;
    text-align: center;
    font-size: 4rem;
  }
} */

/* SMALL MOBILE */
@media only screen and (max-width: 320px) {
  .container {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
