.container {
  padding: 120px;
}
.heading {
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  text-align: left;
}
.accordion {
  color: whitesmoke;
  font-family: "Oswald", sans-serif;
  font-size: 20px;

  padding-bottom: 30px;
}

@media only screen and (max-width: 845px) {
  .container {
    display: block;
    text-align: center;
    margin: unset;
  }
  .heading {
    padding: unset;
    text-align: center;
    font-size: 4rem;
  }
}
