.container {
  padding-bottom: 1em;
  background-color: rgb(55, 52, 51);
}
.heading {
  padding-top: 1em;
  margin-bottom: 0;
  padding-right: 1em;
  padding-bottom: 0.3em;
  color: rgba(85, 181, 182, 0.913);
  font-size: 6rem;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

@media only screen and (max-width: 845px) {
  .container {
    display: block;
    text-align: center;
    margin: unset;
  }
  .heading {
    padding: unset;
    text-align: center;
    font-size: 4rem;
  }
}
