.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(63, 62, 62);
}
.carouselItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  height: 200px;
}

.heading {
  padding-top: 1em;
  margin-bottom: 0;
  padding-right: 1em;
  padding-bottom: 0.3em;
  color: rgba(85, 181, 182, 0.913);
  font-size: 6rem;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

@media only screen and (min-width: 845px) {
}

@media only screen and (max-width: 845px) {
  /* .container {
    display: block;
    text-align: center;
    margin: unset;
  } */
  /* .content {
    position: absolute;
    top: -50%;
    padding: 10rem;
    color: whitesmoke;
    max-width: 100%;
    text-align: center;
  }*/
  .heading {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 450px) {
  /* .container {
    display: block;
    text-align: center;
    margin: unset;
  } */
  /* .content {
    position: absolute;
    top: -50%;
    padding: 4rem;
    color: whitesmoke;
    max-width: 100%;
    text-align: center;
    font-size: 0.7rem;
  }*/
  .heading {
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }
}
