.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1em;
  margin: 2rem 0;
  padding-bottom: 10rem;
  background-color: rgb(63, 62, 62);
}
.heading {
  /* margin-top: 20%; */
  padding-top: 1em;
  margin-bottom: 0;
  padding-right: 1em;
  padding-bottom: 0.1em;
  color: rgba(85, 181, 182, 0.913);
  font-size: 6rem;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
.slideBackground {
  background-color: tomato;
  background-position: cover;
}

@media only screen and (max-width: 845px) {
  .container {
    display: block;
    text-align: center;
    margin: unset;
  }
  .heading {
    padding: unset;
    text-align: center;
    font-size: 4rem;
  }
}
