.container {
  display: flex;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 1);
}

.heading {
  font-style: normal;
  font-weight: bold;
}

.description {
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 0.03em;
}
.avatar {
}

/* fullscreen */
@media only screen and (min-width: 845px) {
  .container {
    justify-content: flex-start;
    align-items: center;
  }
  .writingWrap {
    margin-right: 100px;
    width: 60%;
  }

  .heading {
    font-size: 60px;
  }
  .description {
    font-size: 20px;
  }
  .avatar {
    margin-top: 2em;
    border-radius: 100%;
    width: 100%;
    margin: 100px;
  }
}
/* MOBILE */
@media only screen and (max-width: 500px) {
  .container {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
  .avatar {
  }
  .heading {
    margin-top: 10px;
    font-size: 20px;
  }
  .description {
    font-size: 15px;
  }
  .writingWrap {
  }
}

/* @media only screen and (max-width: 845px) {
  .container,
  .heading,
  .description,
  .links,
  .avatar {
    display: block;
    text-align: center;
    margin: unset;
    padding: unset;
  }
  .container {
    padding-bottom: 5em;
    padding-top: 0.4em;
    padding-left: 0.4em;
    padding-right: 0.4em;
  }
  .a {
    padding: 0.2em;
  }
  .heading {
    padding-top: 0.4em;
    font-size: 4rem;
  }
  .description {
    font-size: 1.5rem;
  }
  .links {
    font-size: 0.9rem;
    padding-bottom: 0.5em;
  }
} */
